body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    background-color: #2b5b18;
    align-items: center;
    color: white;
    z-index: -2;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2b5b18;
  height: 10%;
  color: white;
}

.logo {
    width: 50%;
    border-radius: 99999px;
    padding: 5px;
    justify-self: left;
}

header h2 {
    font-size: 24px;
    padding: 0;
    justify-self: center;
}

/* Ícone hamburger */
.menu-hamburger {
    justify-self: right;
    z-index: 4;
    padding: 20px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    cursor: pointer;
}

.linha {
    width: 35px;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Estilos do overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.986);
    z-index: -1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

/* Estilos do menu navegação */
.menu-navegacao {
    text-align: center;
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 70%;
}

.menu-navegacao ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-navegacao ul li {
    margin: 20px 0;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
}

.menu-navegacao ul li a {
    color: #2b5b18;
    text-decoration: none;
    font-size: 20px;
    padding: 5px
}

.menu-navegacao ul li a:hover {
    color: #499731;
}

/* Animação */
#menu-toggle:checked + .menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked + .menu-icon .linha:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked + .menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
#menu-toggle:checked ~ .overlay {
    transform: scale(1);
}
/* Conteúdo */
main {
    text-align: center;
    z-index: 1;
    padding-bottom: 100px;
}


@media (min-width: 600px) and (max-width: 1024px) {
    .overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 30%;
    }

    header h2 {
        font-size: 30px;
    }
    .menu-navegacao {
        margin-top: 50%;
    }
}


@media (min-width: 1024px) {

    .logo {
        width: 15%;
        padding: 10px;
    }
    
    header h2 {
        font-size: 40px;
    }
    
    .menu-icon {
        width: 50px;
    }
    .linha {
        width: 45px;
    }
    .overlay {
        bottom: 70%;
        left: 80%;
        width: 20%;
        height: 30%;
        transform: translateX(100%);
    }

    .menu-navegacao {
        margin-top: 5%;
    }
}
