<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site <!-- O título das páginas vai aparecer aqui -->{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/imagens/logo.png"
             alt="Logo do projeto">
        <h2>GreenPlace</h2>
        <div class="menu-hamburger">
            <!-- Checkbox - checado = menu aberto, se não, menu fechado-->
             <input type="checkbox" id="menu-toggle" />
             <label for="menu-toggle" class="menu-icon">
                <div class="linha"></div>
                <div class="linha"></div>
                <div class="linha"></div>
             </label>
             <div class="overlay">
                <nav class="menu-navegacao">
                    {% if session['user_role'] == 'user' %}
                        <ul>
                            <li>
                                <a href="{{ url_for('index') }}">Página inicial</a>
                            </li>
                            <li>
                                <a href="{{ url_for('formulario') }}">Formulário</a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}">Sair</a>
                            </li>
                        </ul>
                    {% elif session['user_role'] == 'empresa' %}
                        <ul>
                            <li>
                                <a href="{{ url_for('index') }}">Página inicial</a>
                            </li>
                            <li>
                                <a href="{{ url_for('pagina-empresas') }}">Empresas</a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}">Sair</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul>
                            <li>
                                <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
                            </li>
                            <li>
                                <a href="{{ url_for('login') }}">Login</a>
                            </li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- O conteúdo das outras páginas vai aparecer aqui -->
        {% endblock %}
    </main>
    <footer>
        <h4>&copy; Todos os direitos reservados.</h4>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>
