{% extends "base.html" %}

{% block title %}Página de Cadastro - GreenPlace{% endblock %}
{% block content %}

<div class="form-box">
    <h1>Cadastro</h1>
    <form action="{{ url_for('cadastro') }}" method="POST" onsubmit="return validarDoisNomes(this)">
        <div class="form-group">
            <label for="perfil" id="pefil">Qual o seu perfil?</label>
            <label for="user"><input type="radio" name="perfil" id="user" value="user" onclick="alterarCampos()" required>Usuário comum</label>
            <label for="empresa"><input type="radio" name="perfil" id="empresa" value="empresa" onclick="alterarCampos()">Empresa</label>
        </div>
        <!-- Campos exibidos ou ocultados -->

        <div class="form-group">
            <div class="campos-ocultos" id="campo_usuario">
                <div class="campo-oculto">
                    <label for="cpf" id="cpf">CPF</label>
                    <input type="text" name="cpf" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="Digite seu CPF" required>
                </div>
                <div class="campo-oculto">
                    <label for="nome" id="nome">Nome completo</label>
                    <input type="text" name="nome" required minlength="3" placeholder="Digite seu nome completo">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="campos-ocultos" id="campo_empresa">
                <div class="campo-oculto">
                    <label for="cnpj" id="cnpj">CNPJ</label>
                    <input type="text" name="cnpj" pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" placeholder="Digite seu CNPJ" required>
                </div>
                <div class="campo-oculto">
                    <label for="nome_empresa" id="nome_empresa">Nome da Empresa</label>
                    <input type="text" name="nome_empresa" required minlength="3" placeholder="Digite o nome da empresa">
                </div>
            </div>
        </div>

        <!-- Campo que será sempre exibido -->

        <div class="form-group">
            <label for="senha" id="senha">Senha</label>
            <input type="password" name="senha" minlength="6" pattern="[a-z0-9._%+-]" title="Por favor, insira no mínimo 6 dígitos" placeholder="Digite sua senha" required>
        </div>
        <button type="submit">Finalize o cadastro</button>

</div>



{% endblock %}