{% extends "base.html" %}

{% block title %}Página de Login{% endblock %}
{% block content %}
<div class="form-box">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="perfil" id="pefil">Qual o seu perfil?</label>
            <label for="user"><input type="radio" name="perfil" id="user" value="user" onclick="alterarCampos()">Usuário comum</label>
            <label for="empresa"><input type="radio" name="perfil" id="empresa" value="empresa" onclick="alterarCampos()">Empresa</label>
        </div>
        <!-- Campos exibidos ou ocultados -->
        <div class="form-group">
            <div class="campos-ocultos" id="campo1">
                <label for="cpf" id="cpf">CPF</label>
                <input type="text" name="cpf" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}" placeholder="Digite seu CPF" required>
            </div>
        </div>
        <div class="form-group">
            <div class="campos-ocultos" id="campo2">
                <label for="cnpj" id="cnpj">CNPJ</label>
                <input type="text" name="cnpj" pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" placeholder="Digite seu CNPJ" required>
            </div>
        </div>
        <!-- Campo que será sempre exibido -->
        <div class="form-group">
            <label for="senha" id="senha">Senha</label>
            <input type="password" name="senha" pattern="[0-9]{8}" title="Por favor, insira exatamente 8 dígitos numéricos." placeholder="Digite sua senha" required>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}